.btig {

    color: white;
    background-color: #C13584 ;
    padding: 13px;
    border-radius: 10px;
    text-decoration:none

}

.bttw {
    color: white;
    background-color: rgb(66, 66, 255);
    padding: 13px;
    border-radius: 10px;
    text-decoration:none

}

.btlk {
    color: white ;
    background-color: #1d7199;
    padding: 13px;
    border-radius: 10px;
    text-decoration:none
}

.btem {

    color: white ;
    background-color: #000000;
    padding: 13px;
    border-radius: 10px;
    text-decoration:none
}
}



.texto {

font-size: larger;

}



.apr {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

form {
   font-size: large;
   text-align: center;
}
body {
   background-color: rgb(208, 228, 228);
   text-align: center;
}
.foto {
  
   text-align: center;
   width: 200px;
   margin: 20;
   display: block;  
   margin-left: auto;
   margin-right: auto; 
}
.login {
   display: block;  
   text-align: right;
   
}
