.tudo {
    text-align: center;
    width: 800px;
    height: 900px;
    background-color:#f2ceab;
    box-shadow: -20px 20px rgb(53, 38, 29);
    text-align: center;
    margin: auto;

}
.btig {

    color: white;
    background-color: #C13584 ;
    padding: 13px;
    border-radius: 10px;
    text-decoration:none

}

.btgt {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 13px;
    border-radius: 10px;
    text-decoration:none

}

.btlk {
    color: white ;
    background-color: #1d7199;
    padding: 13px;
    border-radius: 10px;
    text-decoration:none
}

.btem {

    color: white ;
    background-color: #e2ad1b;
    padding: 13px;
    border-radius: 10px;
    text-decoration:none
}



.texto {

font-size: larger;

}



.apr {
    font-size: xx-large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

form {
   font-size: large;
   text-align: center;
}
body {
   background-color:#78b4a5;
   text-align: center;
}
.foto {
  
   text-align: center;
   width: 200px;
   margin: 20;
   display: block;  
   margin-left: auto;
   margin-right: auto; 
}
.login {
   text-align: right;
   position: absolute; right: 0;
    color: white ;
    background-color: #595757;
    padding: 13px;
    padding-right: 10px;
    text-decoration:none;
    
}
