.box1 {background-color: rgb(147, 22, 185);
    text-align: center;
}
.box2 {background-color: brown;
    text-align: center;
}

.box3 {background-color: rgb(21, 255, 0);
    text-align: center;
}

.box4 {background-color: rgb(250, 246, 0);
    text-align: center;
}

.box1, .box2, .box3, .box4 {
    border-radius: 50px;
    height: 500px;
    width:auto}

